
@model IEnumerable<WebDbApp.Models.Course>

@{
    ViewData["Title"] = "All Courses.";
}


<html>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  border-bottom: 1px solid #ddd;
}
</style>

@if (Model != null && Model.Any()) {
    <table> 
    <tr> 
    <th>Id</th> 
    <th>Course Name</th> 
    <th>Description</th> 
    </tr>
    @foreach(var row in Model)
    {
    <tr border="1"> 
    <td>@row.Id</td> 
    <td>@row.Name</td>
                <td>
                    <select name="materias" id="materias">
                        @foreach (var materia in ViewBag.Materias)
                        {
                            if (@row.MateriaId == Int32.Parse(@materia.Value))
                            {
                                <option selected value="@materia.Value">@materia.Text</option>
                            }
                            else
                            {
                                <option value="@materia.Value">@materia.Text</option>
                            }
                        }
                    </select>
                </td>
    <td>@row.Description</td> 
    </tr> 
    }
    </table> 
} else {
    <div>There are not courses in the database.</div>
}

</html>
